# Project exclude paths
/.gradle/
/Cinema Room Manager/task/build/
/Cinema Room Manager/task/out/production/classes/
/Topics/While loops/Choose the correct ones/out/
/Topics/While loops/Choose the correct ones/out/production/classes/
/Topics/While loops/Collatz conjecture/out/
/Topics/While loops/Collatz conjecture/out/production/classes/
/Topics/While loops/Squares of natural numbers/out/
/Topics/While loops/Squares of natural numbers/out/production/classes/
/Topics/While loops/The first position of the largest element/out/
/Topics/While loops/The first position of the largest element/out/production/classes/
/Topics/While loops/The largest element/out/
/Topics/While loops/The largest element/out/production/classes/
/Topics/While loops/The length of the sequence/out/
/Topics/While loops/The length of the sequence/out/production/classes/
/Topics/While loops/The sequence 1 2 2 3 3 3/out/
/Topics/While loops/The sequence 1 2 2 3 3 3/out/production/classes/
/Topics/While loops/The sum of elements/out/
/Topics/While loops/The sum of elements/out/production/classes/
/Topics/While loops/Theory/out/
/Topics/While loops/Theory/out/production/classes/
/Topics/While loops/What does the code print/out/
/Topics/While loops/What does the code print/out/production/classes/
/Topics/While loops/What does the code print (1)/out/
/Topics/While loops/What does the code print (1)/out/production/classes/
/Topics/Work with MutableLists/Adding lists/out/
/Topics/Work with MutableLists/Adding lists/out/production/classes/
/Topics/Work with MutableLists/Empty/out/
/Topics/Work with MutableLists/Empty/out/production/classes/
/Topics/Work with MutableLists/Guard On The Gate/out/
/Topics/Work with MutableLists/Guard On The Gate/out/production/classes/
/Topics/Work with MutableLists/Help the Lord Commander/out/
/Topics/Work with MutableLists/Help the Lord Commander/out/production/classes/
/Topics/Work with MutableLists/Playing with numbers/out/
/Topics/Work with MutableLists/Playing with numbers/out/production/classes/
/Topics/Work with MutableLists/Printing a list/out/
/Topics/Work with MutableLists/Printing a list/out/production/classes/
/Topics/Work with MutableLists/Theory/out/
/Topics/Work with MutableLists/Theory/out/production/classes/
/Topics/Work with MutableLists/Yet another list/out/
/Topics/Work with MutableLists/Yet another list/out/production/classes/